* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box, .forgot-password, .sign-up {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-header img {
    width: 70px;
    margin-bottom: 10px;
}
.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
    align-items: center;
    text-align: center;
}

.input-box input, .sign-up input, .forgot-password input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.sign-up-link, .forgot-password a, .sign-up a {
    color: #007bff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}